body,
html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E1DFDB;
    font-size: 16px;
    font-family: Ubuntu;
    overflow-x: hidden;
    overflow-y: auto;
}

header,
footer {
    background-color: #E1DFDB;
    width: 100vw;
    padding: 0 3vw 0 3vw;
}   

header {
    font-size: 20px;
    font-weight: bold;
}

header button {
    width: 100px;
}

header a {
    color: black;
}

.op {
    color: #E1DFDB;
    background-color: rgb(111, 64, 187);
}


button {
    background: none;
    color: #2A2728;
    border: 0px solid #2A2728;
    overflow: hidden;
    cursor: pointer;
}


.form-control {
    background-color: #E1DFDB;
}

.form-control:focus {
    background-color: initial;
    border-color: transparent;
    box-shadow: rgb(196, 194, 190) 0px 0px 0px 2px;
}


input {
    max-width: 100%;
}